.NavBar {
  position: sticky;
  top: 0;
}

.NavBarTop {
  background-color: #7aa18a;
  overflow: hidden;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBarTop form {
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.NavBarTop .Name {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.NavBarTop .SideButtons {
  margin-right: 50px;
  display: flex;
}

.NavBarTop .SideButtons button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 10px;
}

.NavBarTop .InputGroup {
  border: 2px solid #bebebe;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  padding: 2px;
  font-size: 0px;
  display: inline-block;
  background: white;
  border-radius: 45px;
  white-space: nowrap;
  height: 40px;
}

.NavBarTop .InputGroup input button {
  display: inline-block;
  margin: 0px;
  font-size: 12px;
  background: white;
  border-style: none;
}

.NavBarTop .InputGroup button {
  background-color: Transparent;
  color: #bebebe;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  vertical-align: middle;
}

.NavBarTop .InputGroup input {
  border-radius: 45px;
  background-color: transparent;
  border: #ffffff;
  height: 32px;
  width: 600px;
  outline: none;
  padding-left: 18px;
  vertical-align: middle;
}

.NavBarBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a7ccb5;
  height: 40px;
}

.NavBarBottom .CategoryButtons {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin-left: 2px;
}

.NavBarBottom .CategoryButtons button {
  background-color: Transparent;
  font-size: 15px;
  color: #ffffff;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 27px;
}

.NavBarBottom .UploadListing {
  background-color: #cc7f5d;
  color: #ffffff;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 15px;
  margin-right: 48px;
  margin-top: 5px;
  border-radius: 5px;
  height: 30px;
  width: 200px;
}
